// Schedule tab
.schedule-action {
  position: sticky;
  z-index: 99;
  top: 0;
  border-radius: 0 !important;
  float: right;
  margin-bottom: 10px;
  box-shadow: 0 0 7px rgba($black, 0.2);
  i {
    margin-right: 8px;
  }
}

.off-canvas-content.is-open-right {
  .schedule-action {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

// If admin toolbar
.toolbar-horizontal.toolbar-tray-open {
  .schedule-action {
    top: 79px;
  }
  .off-canvas.position-right {
    padding-top: rem-calc(100);
  }
}

.toolbar-fixed,
.toolbar-vertical,
.toolbar-vertical.toolbar-tray-open {
  .schedule-action {
    top: 39px;
  }
  .off-canvas.position-right {
    padding-top: rem-calc(60);
  }
}

.off-canvas.position-right {
  padding: 1.5em;
}

// Schedule content

#quicktabs-my_schedule {
  .quicktabs-tabs {
    margin: rem-calc(30 0 20);
    padding: rem-calc(0 0 3);
    border-bottom: 1px solid $dark-salmon;
    li {
      font-family: $monsterrat;
      font-size: rem-calc(12);
      font-weight: 700;
      text-align: center;
      margin-right: rem-calc(8);
      margin-left: -2px;

      a {
        border-bottom: none;
        padding: rem-calc(8 12);
        background: darken($grayish, 8%);

        &:hover {
          background-color: $dark-salmon;
          color: $white;
        }
      }

      &.active {
        a {
          background-color: $dark-salmon;
          color: $white;
        }
      }
    }
  }
}

h3.my-schedule__time-slot {
  font-size: rem-calc(14);
  font-weight: 700;
  color: white;
  background-color: $dark-salmon;
  padding: rem-calc(5 10 4);
}

.schedule-view {
  .views-row {
    margin: 0;
    padding: rem-calc(0 2);
    .my-schedule-display {
      border-top: 1px solid #ccc;
      padding: rem-calc(16 0 6);

      .event-details-inline {
        margin: rem-calc(10 0 12);
      }
    }
  }
  h3.my-schedule__time-slot + .views-row {
    .my-schedule-display {
      border-top: none;
    }
  }
}
